<html>
<head>
    <title>{{ CADASTRO }}</title>
</head>
<body>
<div>
<p>Contato cadastrad o com sucesso</p>
<p>Nome: {{name}}</p>
<p>Empresa: {{empresa}}</p>
<p>Telefone: {{telefone}}</p>
<p>Email: {{email}}</p>
</div>
</body>
<style>
        body {

        text-align: center;
        align-items: center;
        background-color: black;
        color: aliceblue;
    }
    div{
        margin-top: 100px;
        margin-right: 300px;
        margin-left: 300px;
        border: 3px solid red;
    }
    </style>
</html>